.navbar-chonk {
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  max-width: max-content;
  position: relative;
  background-color: var(--col-navbg);
  height: 40px;
  max-height: 40px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  float: left;
}

.navbar-content {
  display: block;
  height: 40px;
  max-height: 40px;
  width: 80px;
  background-color: var(--col-navbg);
  animation: background-color;
  transition: 0.4s;
  cursor: pointer;
}

.navbar-content:hover {
  background-color: var(--col-navbg-hover);
}

.navbar a {
  padding: 12px;
  text-align: center;
  font-family: Roboto;
  user-select: none;
}

.navbar li a {
  display: block;
  color: var(--ctp-mocha-text);
  text-align: center;
}