.navbar-chonk {
  background-color: #0d1117;
  height: 40px;
  max-height: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  float: left;
}

.navbar-content {
  display: block;
  height: 40px;
  max-height: 40px;
  width: 80px;
  background-color: #454545;
  animation: background-color;
  transition: 0.4s;
  cursor: pointer;
}

.navbar-content:hover {
  background-color: #696969;
}

.navbar a {
  padding: 12px;
  text-align: center;
  font-family: Roboto;
}

.navbar li a {
  display: block;
  color: #ffffff;
  text-align: center;
}
