:root {
  --col-primary: #ace0f0;
  --col-secondary: #e1eff5;
  --col-bg: #242a30;
  --col-navbg: #313b44;
  --col-navbg-hover: #3c4955;
  --footer-size: 24px;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Riffic';
  src: url(assets/RifficFree-Bold.ttf);
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background: var(--col-bg);
  overflow: hidden;
}

.title {
  text-align: center;
  font-family: Riffic;
  color: var(--col-primary);
  font-size: 369%;
  margin-top: 25px;
  pointer-events: none;
}

.subtitle {
  text-align: center;
  font-family: Riffic;
  color: var(--col-primary);
  font-size: 200%;
  /* pointer-events: none; */
}

.tcenter {
  text-align: center;
}

.text {
  font-family: Roboto;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}