@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url('https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css');

:root {
  --col-primary: #ace0f0;
  --col-secondary: #e1eff5;
  --col-bg: var(--ctp-mocha-base);
  --col-navbg: var(--ctp-mocha-mantle);
  --col-navbg-hover: #3c4955;
  --footer-size: 24px;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background: var(--col-bg);
  overflow: hidden;
}

.title {
  text-align: center;
  font-family: Quicksand;
  color: var(--col-primary);
  font-size: 369%;
  margin-top: 25px;
  pointer-events: none;
}

.subtitle {
  text-align: center;
  font-family: Quicksand;
  color: var(--col-primary);
  font-size: 200%;
  /* pointer-events: none; */
}

.tcenter {
  text-align: center;
}

.text {
  font-family: Quicksand;
  color: var(--ctp-mocha-text);
}

a {
  text-decoration: none;
  color: inherit;
}